<div *ngFor="let apartman of apartmani"></div>

<div class="container">
  <div class="row">
    <div class="row-md-2">
      <div class="card mb-4 shadow-sm">
        <img src="" alt="" />
        <div class="card-body" *ngFor="let apartman of apartmani">
          <h3>{{ apartman.naziv_apartmana }}</h3>
          <p>{{ apartman.cijena_po_danu }}</p>
          <p class="card-text">
            {{ apartman.opis_apartmanA }}
          </p>

          <div class="d-flex justify-content-between align-items-center">
            <div>
              <button
                type="button"
                class="btn btn-danger mx-2"
                (click)="deleteApartment(apartman.naziv_apartmana)"
              >
                Delete
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                routerLink="/{{
                  apartman.apartman_id
                }}/admin-apartment/create/{{ apartman.naziv_apartmana }}"
              >
                Izmijeni
              </button>
              <button
                class="btn btn-primary"
                routerLink="/{{ apartman.apartman_id }}/admin-apartment/create"
              >
                Dodaj Apartman
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
