<div class="container d-flex flex-column">
  <div
    class="container d-flex flex-row justify-content-between align-items-end"
  >
    <button [disabled]="stepForwarBack <= 0" (click)="step(-15)">
      Predhodno</button
    ><button (click)="step(15)">Sledece</button>
  </div>
  <div
    class="container d-flex flex-row justify-content-between align-items-end"
    *ngFor="let apartman of allApartments; let i = index"
  >
    <div class="text-center pb-4" style="width: 200px">
      {{ apartman.naziv_apartmana }}
    </div>
    <div
      class="d-flex flex-column justify-content-between align-items-center mr-2"
      *ngFor="let date of datesForBooking; index as i"
    >
      <div>
        <div>
          {{ date.month }} <strong class="datum">{{ date.day }}</strong> <br />
          {{ date.dayOfWeek }}
        </div>

        <div
          class="cijena pt-4 px-2 class-{{
            apartman.naziv_apartmana.split(' ').join('')
          }}"
          style="height: 60px; width: 60px"
          (click)="selectDate(i, apartman.naziv_apartmana)"
        >
          {{ apartman.cijena_po_danu }}
        </div>
      </div>
    </div>
  </div>
</div>
